<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        <link rel="icon" type="image/ico" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdwgvYR6xRD7tWFURrhfoLcMB5v1OSBQXIjxB5QLwjlLf415iR" />
        {% else %}
        <title> QUICK FACTS </title>
        {% endif %}

        {% extends 'base.html'%}
        
    </head>
    <body>

        {% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
        <!-- sources section -->
        {% block content %}
        <div class="container">
                <div class="row">
                        {% for source in sources %}
        
                        <div class="col-md-4">
                            <div class="card-deck">
                                    <div class="card" style="">
                                            <div class="card-content">
                                                <div class="card-header-blue" style="color:#03A9F4">
                                                   <h2 class="card-heading" style="text-align:center">{{source.name}}</h2>
                                                   </div>
                                                   <div class="card-body">
                                                   <p class="card-p" style="font-size:18px ">
                                                        {{source.description | truncate(80)}}
                                                        
                                                    </p>
                                                    <a href="/articles/{{source.id}}" class="btn btn-info btn-sm "><i class="fal fa-forward">VIEW ARTICLES</i></a>
                                                 </div>
                                    </div>
                                    
                                    </div>
                            </div>
                        
                    </div>
                    {% endfor %}
                    </div>
        </div>
           
            {% endblock %}
    </body>
</html>