<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        <link rel="icon" type="image/ico" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdwgvYR6xRD7tWFURrhfoLcMB5v1OSBQXIjxB5QLwjlLf415iR" />
        {% else %}
        <title> QUICK FACTS </title>
        {% endif %}

        {% extends 'base.html'%}
        
    </head>
    <body>
        <!-- sources section -->
        {% block content %}
            <div class="row">
                {% for source in sources %}

                <div class="col-md-3">
                    <div class="card-group">
                        <div class="card">
                            <div class="card-header"> 
                                <h3>{{source.name}}</h3>
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{source.description}}</p>
                            </div>
                        </div>
                    </div>

                
            </div>
            </div>
            {% endfor %}
            </div>
            {% endblock %}
    </body>
</html>