<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        <link rel="icon" type="image/ico" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdwgvYR6xRD7tWFURrhfoLcMB5v1OSBQXIjxB5QLwjlLf415iR" />
        {% else %}
        <title> QUICK FACTS </title>
        {% endif %}
    </head>
    <body>
        <!-- sources section -->
            <div>
                {% for source in sources %}
                <h2>{{source.name}}</h2>
                <p>{{source.description}}</p>
                <a href="{{source.url}}" target="_blank">VISIT SITE</a>
                <a href="/articles/{{source.id}}">view articles</a>

                {% endfor %}
            </div>
    </body>
</html>